.header1 {
 background-color:brown;
 padding: 20px;
 height: 80px;
 width: 100%;
}


img {
  width: 30%;
  height: 30%;
  margin-right: 10px;
}
.navbar{
  width: 100%;
  height: 40px;
  float: right;
 

}

nav ul li {
 display: inline-block;
 font-size: 40px;
 margin-right: 10px;

}
